#### **Task 3 - List Method Example of Every Method Atleast 2.**

##### 1. append()

In [37]:
city = ['Nandanwan', 'Besa', 'Hingna', 'Kamthi', 'Pardi']
pin = [24, 37, 10, 22, 35]
area = ['Nandanwan', 24, 'Besa', 37, 'Hingna', 10, 'kamthi', 22, 'Pardi', 35 ]

In [38]:
(city,
 pin,
 area)

(['Nandanwan', 'Besa', 'Hingna', 'Kamthi', 'Pardi'],
 [24, 37, 10, 22, 35],
 ['Nandanwan', 24, 'Besa', 37, 'Hingna', 10, 'kamthi', 22, 'Pardi', 35])

In [39]:
(city.append('wadi'),
pin.append(44),
area.append('wadi'))

(None, None, None)

In [40]:
(city,
 pin,
 area )

(['Nandanwan', 'Besa', 'Hingna', 'Kamthi', 'Pardi', 'wadi'],
 [24, 37, 10, 22, 35, 44],
 ['Nandanwan',
  24,
  'Besa',
  37,
  'Hingna',
  10,
  'kamthi',
  22,
  'Pardi',
  35,
  'wadi'])

#### Append Method are used to add Extra Element in the Index.

---

#### 2. clear()

In [41]:
(city,
 pin,
 area )

(['Nandanwan', 'Besa', 'Hingna', 'Kamthi', 'Pardi', 'wadi'],
 [24, 37, 10, 22, 35, 44],
 ['Nandanwan',
  24,
  'Besa',
  37,
  'Hingna',
  10,
  'kamthi',
  22,
  'Pardi',
  35,
  'wadi'])

In [42]:

(city.clear(),
 pin.clear(),
 area.clear() )

(None, None, None)

In [43]:
(city,
 pin,
 area )

([], [], [])

#### Clear method used to empty index.

---

#### 3. copy()

In [78]:
city = ['Nandanwan', 'Besa', 'Hingna', 'Kamthi', 'Pardi']
pin = [24, 37, 10, 22, 35]
area = ['Nandanwan', 24, 'Besa', 37, 'Hingna', 10, 'kamthi', 22, 'Pardi', 35 ]

In [79]:
(city.copy(),
 pin.copy(),
 area.copy())

(['Nandanwan', 'Besa', 'Hingna', 'Kamthi', 'Pardi'],
 [24, 37, 10, 22, 35],
 ['Nandanwan', 24, 'Besa', 37, 'Hingna', 10, 'kamthi', 22, 'Pardi', 35])

In [80]:
(city,
 pin,
 area )

(['Nandanwan', 'Besa', 'Hingna', 'Kamthi', 'Pardi'],
 [24, 37, 10, 22, 35],
 ['Nandanwan', 24, 'Besa', 37, 'Hingna', 10, 'kamthi', 22, 'Pardi', 35])

---

#### 4. count()

In [112]:
city = ['Nandanwan', 'Besa', 'Hingna', 'Kamthi', 'Pardi', 'Besa']
pin = [24, 37, 10, 37, 35, 37, ]
area = ['Nandanwan', 24, 'Besa', 37, 'Hingna', 24, 'kamthi', 22, 'Pardi', 35, 'Hingna', 24]

In [66]:
(city.count('Besa'),
 pin.count(37),
 area.count(24) )

(2, 3, 3)

##### Count method used to count the number of the specific element in index.

---

#### 5. extend()

In [81]:
city.extend(pin)

In [82]:
city

['Nandanwan', 'Besa', 'Hingna', 'Kamthi', 'Pardi', 24, 37, 10, 22, 35]

##### Using extend() to Add Elements from Another List

----

#### 6. index()

In [83]:
(city,
 pin,
 area )

(['Nandanwan', 'Besa', 'Hingna', 'Kamthi', 'Pardi', 24, 37, 10, 22, 35],
 [24, 37, 10, 22, 35],
 ['Nandanwan', 24, 'Besa', 37, 'Hingna', 10, 'kamthi', 22, 'Pardi', 35])

In [92]:
(city.index('Kamthi'),
pin.index(35),
area.index('Pardi')
)

(3, 4, 8)

##### Index used to find the position a specified value in a list.

---

#### 7. insert()

In [118]:
(city,
 pin,
 area )

(['Nandanwan', 'Besa', 'Saoner', 'Hingna', 'Kamthi'],
 [24, 37, 10, 32, 37],
 ['Nandanwan',
  24,
  'Besa',
  37,
  'Hingna',
  'Dharampeth',
  24,
  'kamthi',
  22,
  'Pardi',
  35,
  'Hingna'])

In [119]:
(city.insert(2, 'Saoner'),
 pin.insert(3, 32),
 area.insert(5, 'Dharampeth') )

(None, None, None)

In [120]:
(city, 
 pin,
 area)

(['Nandanwan', 'Besa', 'Saoner', 'Saoner', 'Hingna', 'Kamthi'],
 [24, 37, 10, 32, 32, 37],
 ['Nandanwan',
  24,
  'Besa',
  37,
  'Hingna',
  'Dharampeth',
  'Dharampeth',
  24,
  'kamthi',
  22,
  'Pardi',
  35,
  'Hingna'])

##### In the insert method, add an element at a specific index in a list

---

#### 8. pop()

In [121]:
(city.pop(), 
pin.pop(),
area.pop()
)

('Kamthi', 37, 'Hingna')

#### The pop() method is used to remove an element from a list, If no index is given, it removes the last element by default.

In [122]:
(city.pop(2), 
pin.pop(3),
area.pop(6)
)

('Saoner', 32, 'Dharampeth')

##### remove specific element

---

#### 9. remove()

In [134]:
area

['Nandanwan',
 24,
 'Besa',
 37,
 'Hingna',
 'Dharampeth',
 24,
 'kamthi',
 22,
 'Pardi',
 35]

In [135]:
(city.remove('Saoner'),
pin.remove(37),
area.remove('Hingna'))

(None, None, None)

In [136]:
(city,
 pin,
 area)

(['Nandanwan'],
 [24, 32],
 ['Nandanwan', 24, 'Besa', 37, 'Dharampeth', 24, 'kamthi', 22, 'Pardi', 35])

##### remove method used to remove a specific element of the index

---

10. #### reverse()

In [137]:
(city.reverse(),
 pin.reverse(),
 area.reverse())

(None, None, None)

In [138]:
(city,
 pin,
 area)

(['Nandanwan'],
 [32, 24],
 [35, 'Pardi', 22, 'kamthi', 24, 'Dharampeth', 37, 'Besa', 24, 'Nandanwan'])

##### Reverse Method used to arrange elements in opposite direction.

---

#### 11. sort()

In [140]:
city.sort()

In [141]:
city

['Nandanwan']

In [142]:
 pin.sort()

In [143]:
pin

[24, 32]

In [ ]:

 area.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

##### Python does not allow sorting lists that contain both strings and numbers, because it can't compare different data types.

---